*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --max-width: 1200px;

  --clr-purple-dark: rgb(47, 19, 68);
  --clr-purple-medium: rgb(71, 28, 102);
  --clr-purple-light: rgb(171, 151, 185);
  --clr-grey-dark: rgb(212, 202, 219);
  --clr-grey-medium: rgb(228, 228, 228);
  --clr-grey-light: rgb(255, 255, 255);

  --fc-black: rgb(14, 14, 14);
  --fc-white: rgb(255, 255, 255);
  --fc-yellow: rgb(252, 237, 183);
}

.App {
  min-height: 100svh;
  background: var(--clr-grey-medium);
}

main {
  width: min(var(--max-width), 100%);
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  letter-spacing: 0.075rem;
}
