.container {
  display: flex;
  height: 100%;
  width: min(var(--max-width), 100%);
  margin: auto;
}

.container nav {
  display: flex;
  flex: 1 1;
}

.container nav ul {
  display: flex;
  flex: 1 1;
}

.container nav ul li {
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  padding: 0 1rem;
  cursor: pointer;
}

.container nav ul li:hover {
  background: var(--clr-purple-light);
  border-radius: 0.5rem;
}

.container nav ul li:hover svg path {
  fill: var(--fc-yellow);
}

.container nav ul li:hover p {
  color: var(--fc-yellow);
}

.container nav ul li svg {
  height: 1rem;
  width: auto;
}

.container nav ul li p {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0 0.8rem;
  color: var(--clr-grey-light);
}
